
.mainImg{
  width:100%;
  height:200px;
  object-fit:cover;
}
.info{
 margin-top:20px;
  padding:10px;
  overflow:hidden;
}

.main{
  font-family: 'Playfair Display', serif;
  font-size:18px;
  font-weight:bold;
}


.main2{
 color:#737070;
}

.imgBox{
  position:relative;

}
.imgBox .icons{
position:absolute;
bottom:0px;
text-align:center;
width:100%;
height:40px;
 background-color:#C8C9CA;
 display:flex;
 gap:25px;
 justify-content: flex-end;
  align-items: center;
  color:white;
  padding-right:10px;
  cursor:pointer;
  opacity:0;  

}
.imgBox .icons:hover{
  opacity:1;  
}

body{
      padding-top: 70px;
      overflow: hidden; 
}

.loading {
  background-color:#f5f5f5;
  position: fixed;
    display: flex;
  justify-content: center; 
  align-items: center;    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    z-index: 9999;
}   


/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 1;
  --c:no-repeat linear-gradient(#046D8B 0 0);
  background:
    var(--c) 0 38px,
    var(--c) right 18px bottom 18px,
    var(--c) right 18px top    18px,
    var(--c) 18px 18px,
    var(--c) 18px 100%,
    var(--c) 100% 100%,
    var(--c) 100% 0,
    var(--c) 0 0;
  animation: 
    l8-1 2s infinite,
    l8-2 2s infinite;
}
@keyframes l8-1 {
  0%     {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  6.25%  {background-size: 40px 4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  12.5%  {background-size: 40px 4px,4px 20px,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  18.75% {background-size: 40px 4px,4px 20px,20px 4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
  25%    {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,0    4px,4px 0   ,0    4px,4px 0   }
  31.25% {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 0   ,0    4px,4px 0   }
  37.5%  {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,0    4px,4px 0   }
  43.75% {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 0   }
  48%,
  52%    {background-size: 40px 4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  56.25% {background-size: 0    4px,4px 20px,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  62.5%  {background-size: 0    4px,4px 0   ,20px 4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  68.75% {background-size: 0    4px,4px 0   ,0    4px,4px 40px,40px 4px,4px 100%,100% 4px,4px 40px}
  75%    {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,40px 4px,4px 100%,100% 4px,4px 40px}
  81.25% {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 100%,100% 4px,4px 40px}
  87.5%  {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,100% 4px,4px 40px}
  93.75% {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 40px}
  100%   {background-size: 0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   ,0    4px,4px 0   }
}
@keyframes l8-2 {
  0%,49.9% {background-position:0 38px, right 18px bottom 18px, right 18px top 18px,18px 18px,18px 100%,100% 100%,100% 0,0 0}
  50%,100% {background-position:right 18px bottom 18px, right 18px top 18px, 18px 18px,18px 100%,100% 100%,100% 0,0 0,bottom 18px left 0}
}


.sett{
  cursor:pointer;
  display:flex;
  gap:20px;
}




.none{
background-color:#f5f5f5;
  display:flex;
  gap:10px;
  padding:10px;
  margin-bottom:10px;
  width:70px;
   margin-left: auto;
margin-right: 10px;
/* margin-top:10px; */
border-radius:5px;
  cursor:pointer;
  border:1px solid #bcabab90;
}
.nonee{
  display:none;
}
.dark{
  width:20px;
  height:20px;
  background-color:black;
  border-radius:50%;
}
.withe{
    width:20px;
  height:20px;
  background-color:white;
  border-radius:50%;
}

.dark-nav {
    background-color: black !important;
    color: white !important;
  
}

.dark-body {
    background-color: black;
    color: white;
}

.footer {
    width: 100%;
    height: auto;
    background-color: #e6e7e8ff;
    text-align: center;
    padding-top: 15px;

    /* Flexbox لتوسيط الأعمدة */
    display: flex;
    justify-content: center; /* توسيط أفقي */
    align-items: center;     /* توسيط رأسي لو محتوى الأعمدة قصير */
    gap: 20px;               /* المسافة بين الأعمدة */
    flex-wrap: wrap;          /* عشان الأعمدة تنزل لو الشاشة صغيرة */
}


.contFooter {
    width: 100%;
    height: auto;
    background-color: #e6e7e8ff;
    text-align: center;
    padding-top: 15px;
}

.footeer {
    width: 100%;
    box-sizing: border-box!important;
    height: 40px;
    background-color: #737070ff;
}
.footeer p{
    text-align: center;
    color: white;
  padding-top:10px;
  font-size:17px;
  letter-spacing:1.5px;
}
.btn{
 
position:fixed;
bottom:50px;
right:10px;
pointer:cursor;
z-index:999;
display:none;
    border: none;
}

/* @media (max-width: 992px) {

  .footer {
    height: auto;
    padding-bottom: 20px;
  }

  .footer .col {
    margin-bottom: 20px;
  }

} */